@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$body-bg:#0f0f0f;
$main-color:rgb(109, 177, 241);
$txt-color:#fff;
$btn-color:rgb(0, 129, 250);
$white:#fff;
$box-shadow: 3px 3px 5px 0 rgba(0, 0 ,0 ,.28);
$box-shadow_comment: 0 3px 12px 0 rgb(0 0 0 / 50%);;
$black:#000;
$border-line:1px solid #dddddd;
$text-decoration:underline 1px $btn-color;

$mobile-width:37.5em;
$mobile-xl-width:48em;
$mobile-s-width:28.125em;
$tablet-width:64em;
$tablet-xl-width:75em;

$font-family: 'Roboto', sans-serif;

// profile
$yellow :linear-gradient(180deg,#f8d49a -146.42%,#fad79d -46.42%);
$orange:#fca61f;
$black:#242d49;
$gray:#788097;
$purple:linear-gradient(180deg,#bb67ff 0%,#c484f3 100%);
$blue:rgb(68 68 255 / 53%);;
$glass:rgba(255,255,255,.54);
$boxShadow:0 19px 60px rgb(0 0 0/8%);
$smboxShadow:-79px 51px 60px rgba(0,0,0,.8);
$activeItem:#f799a354;
$font-family: 'Inter', sans-serif;
$color-active:rgb(159, 209, 255);